<%- include("include/sidebar") %>
<section class="main">
    
    <h1 style="color: blue;">Add New Order</h1>
    <br>
    <% if(msg!="") { %>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times</span>
            <strong><%= msg %></strong>
        </div>
    <% } %>   
    <form action="/register-student" method="post">
        <label for="name">Name:</label>
        <br>
        <select name="name" id="name">
        </select>
        <br><br>
        <div class="submit">
            <input type="submit" name="submit" id="submit" >
        </div>
    </form>
</section>
<script>
    var close = document.getElementsByClassName("closebtn");
    var i;
    for (i = 0; i < close.length; i++) {
        close[i].onclick = function(){
            var div = this.parentElement;
            div.style.opacity="0";
            setTimeout(function(){
                div.style.display="none"
            },600);
        }

    }
</script>
<script src="/js/script.js"></script>
</body>
</html>
