<%- include("include/sidebar") %>
<section class="main">
   
    <h1>Register New Student</h1>
    <br>
    <% if(msg!="") { %>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times</span>
            <strong><%= msg %></strong>
        </div>
    <% } %>   
    <form action="/register-student" method="post">
        <label for="name">Name:</label>
        <br>
        <input type="text" name="name" id="name" placeholder="Enter your Name" >
        <br><br>
        <label for="phone">Phone No:</label>
        <br>
        <input type="number" name="phone" id="phone" placeholder="Enter your Phone No" >
        <br><br>
        <label for="email">E-mail:</label>
        <br>
        <input type="email" name="email" id="email" placeholder="Enter your E-mail" >
        <br><br>
        <label>Gender</label>
        <br>
        <input type="radio" name="gender" value="M"> <span style="color: white;">M</span> <input type="radio" name="gender" value="F"> <span style="color: white;">F</span> 
        <div class="submit">
            <input type="submit" name="submit" id="submit" >
        </div>
    </form>
</section>
<script>
    var close = document.getElementsByClassName("closebtn");
    var i;
    for (i = 0; i < close.length; i++) {
        close[i].onclick = function(){
            var div = this.parentElement;
            div.style.opacity="0";
            setTimeout(function(){
                div.style.display="none"
            },600);
        }

    }
</script>
<script src="/js/script.js"></script>
</body>
</html>
