<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin-dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>   
    <link rel="stylesheet" href="/css/include.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="bg-img">
      
    </div>
    <div class="navbar">
      <nav>
        <ul>
          <li>
            <a href="#" class="logo">
              <img src="/media/admin-logo.png" alt="">
              <span class="nav-item-dash">Welcome <%= name %></span>
            </a>
          </li>

          <li class="dLink">
            <a href="/admin-dashboard" class="navLink nav-item" >
              Dashboard
            </a>
          </li>

          <li class="dLink">
            <a href="/view-student" class="navLink nav-item">
              All Students
            </a>
          </li>

          <li class="dLink">
            <a href="/register-student" class="navLink nav-item">
              Register Student
            </a>
          </li>

          <li class="dLink">
            <a href="all-courses" class="navLink nav-item">
              All Courses
            </a>
          </li>

          <li class="dLink">
            <a href="add-course" class="navLink nav-item">
              Add Course
            </a>
          </li>

          <li class="dLink">
            <a href="/add-order" class="navLink nav-item">
              Add Order
            </a>
          </li>

          <li class="dLink">
            <a href="/all-order" class="navLink nav-item">
              All Orders
            </a>
          </li>

          <li>
            <a href="/" class="logout">
              <i class="fas fa-sign-out-alt fase"></i>
              <span class="nav-item">Log out</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
